* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

.wrapper {
  max-width: 790px;
  margin: 0 auto; 
}

.marginWrap {
  margin: 5px;
}

.vacancy_Card {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "vacn vacn "
    "vacs vacs"
    "vacRes vacRes"
    "vacC vacC"
    "btn  logo ";   
  min-height: 115px;
  padding: 10px;
  border: 1px solid #e7e7e7;
}

.vacancy_Card_Name {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  color: #4682b4;
  grid-area: vacn;
  margin-bottom: 3px;
}

.vacancy_Card_Salary{
  display: flex;
  justify-content: flex-end;
  color: #4682b4;
  grid-area: vacs;
}

.vacancy_Card_Responsibility{
  color: #333;
  font-size: 16px;
  margin-top: 4px;
  grid-area:vacRes;
}

.vacancy_Card_City { 
  display: flex;
  justify-content: flex-start;
  color: #999;
  font-size: 16px;
  grid-area: vacC;
  margin-bottom: 4px;
}

.vacancy_Card_Logo {
  max-width: 60;
  max-height: 30px;
}

.closePngwrapper {
  display: flex;
  justify-content: flex-end;
  width: 20px;
}  

.closepng:before,
.closepng:after {
  content: "";
  position: absolute;
  top: 14px;
  right:  21px;
  width: 20px;
  height: 4px;
  background: #4682b4;
}

.closepng:before {
  transform: rotate(45deg);
}

.closepng:after { 
  transform: rotate(-45deg);
}

.closepng:hover::after {
  width: 25px;
  background: #438dca;
}

.closepng:hover:before {
  background: #438dca;
  width: 25px;
}

.btn_wrapper {
  display: flex;
  justify-content: flex-start;
  grid-area: btn;
}

.vacancy_Card_Btn {
  background-color: #6633ff;
  color: #fff;
  border: 1px solid #bbb;
  width: 92 px;
  height: 31px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.vacancy_Card_Btn:hover {
  background-color: #333399;
  color: #bbb;
}

@keyframes showModal {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.modal {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end ;
  background-color: rgba(0, 0, 0, 0.041); 
}

.modalContent {
  display: flex;
  padding: 10px;
  flex-direction: column;
  animation: showModal 0.3s ease-out;
  font-family: "Noto Sans", sans-serif;
  background: #ffffff;
  width: 600px;
  height:100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.144);
  border-radius: 10px;
  color: #444;
  overflow-y: scroll;
} 

.vacancy_Name{
  margin-top: 5px;
}

.vacancy_Salary {
  margin-top: 5px;
}

.vacancy_Busyness{
  margin-top: 5px;
}

.vacancy_Address {
  margin-top: 5px;
}

.vacancy_Requirement {
  margin-top: 5px;
}

.vacancy_Responsobility {
  margin-top: 5px;
}

.vacancy_Experience {
  margin-top: 5px;
}

.modalTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4682b4;
}

.vacancy_Card_Logo_Wrapper{
  grid-area: logo;
  display: flex;
  justify-content: flex-end;
}

.pagination_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination_Btns_Wrapper {
  display: flex;
  padding-inline-start: 0;
}

li {
  list-style: none;
  outline: none;
  border-radius: 3px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 4px;
  user-select: none; 
  color: #4682b4;
  background: #fefefe;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

li:hover {
  background: #bbb;
}

li.active {
  color: #4682b4;
  background: #e9e9e9;
}

.vacancy_Name_And_Logo {
  display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  border-radius: 3px;
  max-height: 20px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
  color: #4682b4;
  background: #fff;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.prev:active {
  background: #fff;
}

.next:active {
  background: #bbb;
}

.next:hover {
  background: #bbb;
}

.prev:hover {
  background: #bbb;
}

.vacancy_Logo {
  margin-top: 20px;
  max-width: 100px;
  max-height: 60px;
}

.phoneNum_Form, .email_Form {
  outline: none;
  display: block;
  width: 56%;
  padding: 0 20px;
  margin-bottom: 10px;
  line-height: 40px;
  background: #E9EFF6;
  border-width: 0;
  border-radius: 20px;
  
}

.submit_Form_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.submit_Form_Subheader {
  margin-top: 70px;
  font-size: 18px;
  margin-bottom: 14px;
}

.submit_Btn {
  background-color: #6633ff;
  color: #fff;
  border: 1px solid #bbb;
  max-width: 135px;
  height: 31px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.submit_Btn:hover {
  background-color: #333399;
  color: #bbb;
}

.search_Input {
  margin-bottom: 10px;
  width: 50%;
  border: 2px solid #4682b4;
  padding: 5px;
  height: 29px;
  border-radius: 5px;
  outline: none;
  color: #444;
}

.search_Input_wrapper {
  display: flex;
  justify-content: flex-start;
}